ion-content{
    --background: linear-gradient(to bottom,#eaeaea,#111010);
}
.contenedor-registrar{
    width: 85%;
    height: 120%;
    background-color: #000000;
}

.margin-auto{
    margin: auto;
}

.contenedor-pag{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor-input{
    width: 90%;
}

.centrar-eje{
    align-items: center;
}

.centrar{
    text-align: center;
}

.color{
    --background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 16px;
}

ion-input{
    --background: white;
    color: black;
    --highlight-color-valid: black;
}

.tamano-letras{
    font-size: 13px;
}

.error{
    color: red;

}