<ion-header [translucent]="true">

  <app-barranav titulo="Registrar"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <div class="contenedor-pag">
    <div class="contenedor-registrar centrar-eje margin-auto">
      <br>
      <app-logo></app-logo>

      <div class="contenedor-input margin-auto">
        <ion-input label="Usuario" label-placement="floating" fill="outline" type="text" placeholder="Ingrese su usuario. Ej: MarkusAce" [(ngModel)]="usuario1"></ion-input>

        <br>

        <ion-input label="Email" label-placement="floating" fill="outline" type="email" placeholder="Ingrese su email. Ej: correo@gmail.com" [(ngModel)]="email1"></ion-input>

        <br>

        <ion-select label="seleccione su region" label-placement="floating" fill="solid" [(ngModel)]="region">
          <ion-select-option value="arica y parinacota">arica y parinacota</ion-select-option>
          <ion-select-option value="region de antofagasta">region de antofagasta</ion-select-option>
          <ion-select-option value="region de atacama">region de atacama</ion-select-option>
          <ion-select-option value="region de coquimbo">region de coquimbo</ion-select-option>
          <ion-select-option value="region de valparaiso">region de valparaiso</ion-select-option>
          <ion-select-option value="region metropolitana">region metropolitana</ion-select-option>
          <ion-select-option value="region de Ohiggins">region de Ohiggins</ion-select-option>
          <ion-select-option value="region del maule">region del maule</ion-select-option>
          <ion-select-option value="region de ñuble">region de ñuble</ion-select-option>
          <ion-select-option value="region del bio bio">region del bio bio</ion-select-option>
          <ion-select-option value="region de la araucania">region de la araucania</ion-select-option>
          <ion-select-option value="region de los lagos">region de los lagos</ion-select-option>
          <ion-select-option value="region de los rios">region de los rios</ion-select-option>
          <ion-select-option value="region de aysen">region de aysen</ion-select-option>
          <ion-select-option value="region de magallanes">region de magallanes</ion-select-option>   
        </ion-select>

        <br>

        <ion-input label="ciudad" label-placement="floating" fill="outline" type="text" placeholder="Ingrese su ciudad" [(ngModel)]="ciudad"></ion-input>

        <br>

        <ion-input label="calle" label-placement="floating" fill="outline" type="text" placeholder="Ingrese su calle" [(ngModel)]="calle"></ion-input>

        <br>

        <ion-select label="tipo de domicilio" label-placement="floating" fill="solid" [(ngModel)]="tipodomicilio">
          <ion-select-option value="apple">casa</ion-select-option>
          <ion-select-option value="banana">departamento</ion-select-option> 
        </ion-select>

        <br>

        <ion-input label="numero domicilio" label-placement="floating" fill="outline" type="text" placeholder="numero de domicilio" [(ngModel)]="numerodomicilio"></ion-input>

        <br>

        <ion-input label="Contraseña" label-placement="floating" fill="outline" type="password" placeholder="Ingrese su contraseña." [(ngModel)]="contrasena1"></ion-input>

        <br>

        <ion-input label="Repita su Contraseña" label-placement="floating" fill="outline" type="password" placeholder="Repita su contraseña." [(ngModel)]="contrasenarepetida"></ion-input>

      </div>

      <br>

      <div class="contenedor-input margin-auto centrar">
        <ion-button class="color" (click)="validarRegistro()">
          <ion-icon slot="start" name="person-add-outline"></ion-icon>
          Regristrar
        </ion-button>
      </div>

      <br>

      <div class="contenedor-input margin-auto" (click)="irLogin()">
        <p class="tamano-letras">¿Ya tienes una cuenta? Inicia sesión aqui!!!</p>
      </div>
    </div>
  </div>
  

</ion-content>

<ion-footer>

      <!-- Mostrar para usuarios con rol 2 -->
      <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
      <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>

      <!-- Mostrar para otros roles o si el rol no se ha cargado -->
      <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>
  
</ion-footer>