<ion-header>

  <app-barranav titulo="Bienvenido {{ usuario }}" [tipousuario]="usuario"></app-barranav>
 
</ion-header>



<ion-content [fullscreen]="true">
  <app-logo></app-logo>

  <ion-content [fullscreen]="true">
    <form (ngSubmit)="guardarCambios()">
      <ion-item>
        <ion-label position="floating">Nombre de usuario</ion-label>
        <ion-input [(ngModel)]="nombre_usuario" name="nombre_usuario" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Ciudad</ion-label>
        <ion-input [(ngModel)]="ciudad" name="ciudad" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Calle</ion-label>
        <ion-input [(ngModel)]="calle" name="calle" required></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-label position="floating">Número de domicilio</ion-label>
        <ion-input [(ngModel)]="numero_domicilio" name="numero_domicilio" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="seleccione su region" label-placement="floating" fill="solid" [(ngModel)]="region">
          <ion-select-option value="arica y parinacota">arica y parinacota</ion-select-option>
          <ion-select-option value="region de antofagasta">region de antofagasta</ion-select-option>
          <ion-select-option value="region de atacama">region de atacama</ion-select-option>
          <ion-select-option value="region de coquimbo">region de coquimbo</ion-select-option>
          <ion-select-option value="region de valparaiso">region de valparaiso</ion-select-option>
          <ion-select-option value="region metropolitana">region metropolitana</ion-select-option>
          <ion-select-option value="region de Ohiggins">region de Ohiggins</ion-select-option>
          <ion-select-option value="region del maule">region del maule</ion-select-option>
          <ion-select-option value="region de ñuble">region de ñuble</ion-select-option>
          <ion-select-option value="region del bio bio">region del bio bio</ion-select-option>
          <ion-select-option value="region de la araucania">region de la araucania</ion-select-option>
          <ion-select-option value="region de los lagos">region de los lagos</ion-select-option>
          <ion-select-option value="region de los rios">region de los rios</ion-select-option>
          <ion-select-option value="region de aysen">region de aysen</ion-select-option>
          <ion-select-option value="region de magallanes">region de magallanes</ion-select-option>   
        </ion-select>
      </ion-item>

      <!-- Campo para la contraseña actual -->
      <ion-item>
        <ion-label position="floating">Contraseña actual</ion-label>
        <ion-input [(ngModel)]="contrasenaActual" name="contrasenaActual" type="password" required></ion-input>
      </ion-item>

      <!-- Campo para la nueva contraseña -->
      <ion-item>
        <ion-label position="floating">Nueva contraseña</ion-label>
        <ion-input [(ngModel)]="nueva_contrasena" name="nueva_contrasena" type="password"></ion-input>
      </ion-item>

  
      <ion-button expand="full" type="submit">Guardar Cambios</ion-button>
    </form>
  </ion-content>
</ion-content>

<ion-footer>

      <!-- Mostrar para usuarios con rol 2 -->
      <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
      <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>

      <!-- Mostrar para otros roles o si el rol no se ha cargado -->
      <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>
  
</ion-footer>
