<ion-header>

  <app-barranav titulo="Perfil"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <hr>
  
  <app-logo></app-logo>

  <hr>

  <div class="contenedor-perfil margin-auto bordear">
    <div class="centrar">
      <hr>
      <img src="assets/imgperfil.png" alt="" class="tamano-perfil">
    </div>

    <hr>

  
      
      <div class="contenedor-datos margin-auto">
        <div class="contenedor-flex espacio-precio letra-grande">
          <p><strong>Nombre:</strong> {{ nombre_usuario }}</p>
        </div>
        <div class="contenedor-flex letra-grande espacio-precio">
          <p><strong>Email:</strong> {{ email }}</p>
        </div>
        <div class="contenedor-flex letra-grande espacio-precio">
          <p><strong>ID Usuario:</strong> {{ id_usuario }}</p>
        </div>
        <div class="contenedor-flex letra-grande espacio-precio">
          <p><strong>region:</strong> {{ region }}</p>
        </div>
        <div class="contenedor-flex letra-grande espacio-precio">
          <p><strong>Ciudad:</strong> {{ ciudad }}</p>
        </div>
        <div class="contenedor-flex letra-grande espacio-precio">
          <p><strong>Calle:</strong> {{ calle }}</p>
        </div>
        <div class="contenedor-flex letra-grande espacio-precio">
          <p><strong>Número de Domicilio:</strong> {{ numero_domicilio }}</p>
        </div> 
        
        <ion-button (click)="irEditarperfil()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          editar perfil
        </ion-button>

        <ion-button (click)="cerrarSesion()">
          <ion-icon slot="start" name="log-out"></ion-icon>
          Cerrar sesion
        </ion-button>
      </div>

  </div>
</ion-content>

<ion-footer>

      <!-- Mostrar para usuarios con rol 2 -->
      <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
      <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>

      <!-- Mostrar para otros roles o si el rol no se ha cargado -->
      <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>
  
</ion-footer>
