ion-content{
    --background: linear-gradient(to bottom,#eaeaea,#111010);
}


.centrar{
    text-align: center;
}

.color-negro{
    color:black;
}

.letras-negrita{
    font-weight: bold;
}

ion-toolbar{
    --background: #000000;
}
.contenedor-flex{
    display: flex;
}
.contenedor-footer{
    width: 25%;
    height: 100%;
    text-align: center;
    align-items: center;
}
.tamano-general-imagenes{
    max-width: 40px;
    max-height: 40px;
}
.color-negro{
    color:black;
}
.agrandar-icono{
    font-size: 35px;
}
.centrar{
    text-align: center;
}
.arreglar-lista{
    margin-top: 3px;
}

.imagen{
    height: 200px;
    width: 300px;
}

ion-card{
    --background: white ;
    color: black;
    align-items: center;
    text-align: center;
}

ion-card-title{
    color:#000000
}