<ion-header >

  <app-barranav titulo="Bienvenido {{ usuario }}" [tipousuario]="usuario"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <br>
  
  <app-logo></app-logo>

  <app-barrabusqueda mensaje="Buscar zapatilla..." (buscarProducto)="filtrarProductos($event)"></app-barrabusqueda>

   <br>
  
  <h3 class="centrar color-negro letras-negrita">Lo más vendido</h3>

  <br>

  <div *ngIf="productos.length === 0">
    <p>No hay productos disponibles.</p>
  </div>

  <ion-list>
    <ion-item *ngFor="let producto of productosFiltrados">
      <ion-card>
        <img class="imagen" *ngIf="producto.imagen_producto" [src]="producto.imagen_producto" alt="Imagen del producto" (click)="irADetalleProducto(producto.id_producto)"/>
        <ion-card-header>
          <ion-card-title>{{ producto.nombre_producto }}</ion-card-title>
          <ion-card-subtitle>Marca: {{ producto.marca }}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <p>Talla: {{ producto.talla }}</p>
          <p>Precio: ${{ producto.precio }}</p>
          <p>Cantidad: {{ producto.cantidad }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>

  <ion-footer *ngIf="usuarioRol === 1">
    <app-barrafooter2></app-barrafooter2>
  </ion-footer>
  
  <ion-footer *ngIf="usuarioRol === 2 || usuarioRol === null">
    <app-barrafooter></app-barrafooter>
  </ion-footer>

  
</ion-footer>



