ion-toolbar{
    --background: #F44449;
}
ion-content{
    --background: linear-gradient(to bottom,#eaeaea,#111010);
}
ion-title{
    --color: black;
}

.boton-filtrar{
    --background: #fffcfd;
    opacity: 0.7;
}

.margin-auto{
    margin: auto;
}
.margin-topbot-auto{
    margin-top: auto;
    margin-bottom: auto;
}
.centrar{
    text-align: center;
}
.centrar-justify{
    justify-content: center;
}

.contenedor-flex{
    display: flex;
}

.img-logo{
    max-width: 100%;
    height: auto;
}
.contenedor-logo{
    width: 60%;
    margin-top: 20px;
    margin-bottom: 15px;
}

.cuadrado-busqueda{
    width: 90%;
    height: 60px;
    background-color: #B5B5B5;
    border-radius: 10px;
}

.barra-busqueda{
    height: 100%;
    width: 90%;
    background-color: #B5B5B5;
    color: white;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-left: 2px;
    font-weight: 500;

}
.barra-busqueda::placeholder{
    color: white;
    opacity: 0.9;
}
.tamano-lupa{
    width: 12%;
    height: 65%;
    margin-right: 6px;
}

.contenedor-cards{
    margin: auto;
    width: 80%;
    height: 45%;
    background-color: black;
    border-radius: 10px;
    
}
.tamano-zapatilla{
    width: 85%;
    height: 85%;
}

.contenedor-footer{
    width: 25%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.tamano-general-imagenes{
    max-width: 40px;
    max-height: 40px;
}
.letras-negrita{
    font-weight: bold;
}
.letras-negrita2{
    font-weight: 500;
}
.arreglar-lista{
    margin-top: 3px;
}
.color-negro{
    color:rgb(0, 0, 0);
}
.margin-top{
    margin-top: 10px;
}
.contenedor-botones{
    width: 90%;
}
.tamano-letras{
    font-size: 25px;
}
.contenedor-letras-card{
    width: 80%;
    font-size: 18px;
}

.boton-filtro{
    --background: #000000;
    width: 40%;
    font-size: 13px;
    color: white;
}

.boton-vaciar{
    --background: black;
    width: 40%;
    font-size: 13px;
    color: white;
}

.imagen{
    height: 200px;
    width: 300px;
}

ion-card{
    --background: white ;
    color: black;
    align-items: center;
    text-align: center;
}

ion-card-title{
    color:#000000
}