ion-content{
    --background: linear-gradient(to bottom,#eaeaea,#111010);
}

ion-title{
    --color: black;
}

ion-input{
    --background: white;
    color: black;
    --highlight-color-valid: black;

}

.contenedor-pag{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contenedor-agregar{
    width: 85%;
    height: 100%;
    background-color: #000000;
}

.color{
    --background: black;
    color: white;
    font-size: 16px;
}

.margin-auto{
    margin: auto;
}

.tamano-letras{
    font-size: 13px;
}

.centrar-eje{
    align-items: center;
}

.contenedor-input{
    width: 90%;
}

.centrar{
    text-align: center;
}

.fondo{
    --background: white;
    color: black;
}

.sin-padding{
    padding: 0px;
    background-color: white;
}

.contenedor-imagen{
width: 55%;

}

.tamano-imagen{
    width: 100%;
    
}

p{
    color: red;
}