<ion-header [translucent]="true">
  <app-barranav titulo="Agregar zapatilla"></app-barranav>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="contenedor-pag">
    <div class="contenedor-agregar centrar-eje margin-auto">
      <br>
      <app-logo></app-logo>

      <div class="contenedor-input margin-auto">
        <ion-input label="Nombre zapatilla" label-placement="floating" fill="outline" type="text" placeholder="Ingrese el nombre de la zapatilla." [(ngModel)]="zapatilla"></ion-input>

        <br>

        <ion-input label="Cantidad" label-placement="floating" fill="outline" type="number" placeholder="Ingrese la cantidad." [(ngModel)]="cantidad"></ion-input>

        <br>

        <ion-input label="Precio" label-placement="floating" fill="outline" type="number" placeholder="Ingrese el precio." [(ngModel)]="precio"></ion-input>

        <br>

        <div class="margin-auto">
          <ion-list class="sin-padding">
            <ion-item class="fondo">
              <ion-select aria-label="Talla" interface="action-sheet" placeholder="Talla (US)" [(ngModel)]="talla">
                <ion-select-option value="7.5">7.5 (25.5 cms)</ion-select-option>
                <ion-select-option value="8">8 (26 cms)</ion-select-option>
                <ion-select-option value="8.5">8.5 (26.5 cms)</ion-select-option>
                <ion-select-option value="9">9 (27 cms)</ion-select-option>
                <ion-select-option value="9.5">9.5 (27.5 cms)</ion-select-option>
                <ion-select-option value="10">10 (28 cms)</ion-select-option>
                <ion-select-option value="10.5">10.5 (28.5 cms)</ion-select-option>
                <ion-select-option value="11">11 (29 cms)</ion-select-option>
                <ion-select-option value="11.5">11.5 (29.5 cms)</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>

        <br>

        <div class="margin-auto">
          <ion-list class="sin-padding">
            <ion-item class="fondo">
              <ion-select aria-label="Marca" interface="action-sheet" placeholder="Marca" [(ngModel)]="marca">
                <ion-select-option value="Puma">Puma</ion-select-option>
                <ion-select-option value="Adidas">Adidas</ion-select-option>
                <ion-select-option value="nike">nike</ion-select-option>
                <ion-select-option value="nike jordan">nike jordan</ion-select-option>
                <ion-select-option value="new balance">new balance</ion-select-option>
                <ion-select-option value="under armour">under armour</ion-select-option>
                <ion-select-option value="reebok">reebok</ion-select-option>
                <ion-select-option value="asics">asics</ion-select-option>
                <ion-select-option value="converse">converse</ion-select-option>
                <ion-select-option value="vans">vans</ion-select-option>
                <ion-select-option value="skechers">skechers</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-list>
        </div>

        <br>

        <!-- Botón para elegir imagen de la galería -->
        <ion-button (click)="tomarFoto()">Seleccionar Imagen</ion-button>
        <!-- Mostrar la imagen seleccionada -->
        <div class="contenedor-imagen margin-auto centrar">
          <img *ngIf="imagenPreview" [src]="imagenPreview" alt="Imagen de la zapatilla" class="tamano-imagen">
        </div>

      </div>
    </div>
  </div>

  <div class="contenedor-input margin-auto centrar">
    <ion-button class="color" (click)="agregarZapatilla()">
      <ion-icon slot="start" name="add"></ion-icon>
      Agregar
    </ion-button>
  </div>

</ion-content>

<ion-footer>
  <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>
  <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
  <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>
</ion-footer>