ion-content{
    --background: linear-gradient(to bottom,#eaeaea,#111010);
}

ion-button{
    --background: #ffffff;
    width: 100%;
}

ion-select {
  --placeholder-color: black;
  --background: white;
  color: black;
}
ion-item{
    --background: white;
}

.linea{
    width: 85%;
    height: 75%;
    border: 3px solid white;
}

.margin-auto{
    margin: auto;
}

.bordear{
    border-radius: 10px;
}

.contenedor-cards{
    margin: auto;
    width: 95%;
    background-color: black;
    height: 95%;
    margin-top: 10px;
}

.centrar{
    text-align: center;
}

.tamano-zapatilla{
    width: 85%;
    height: 85%;
    margin-top: 10px;
}

.letras-negrita2{
    font-weight: 500;
}

.contenedor-lista{
    width: 50%;
}

.sin-padding{
    padding: 0px;
    background-color: white;
}

.letras-grandes{
    font-size: 25px;
}

.contenedor-compra{
    width: 80%;
}

.espacio-arriba{
    margin-bottom: 40px;
}

.imagen{
    height: 200px;
    width: 300px;
}

ion-card{
    --background: white ;
    color: black;
    align-items: center;
    text-align: center;
}

ion-card-title{
    color:#000000
}

ion-button{
    --background:black;
}