<ion-header >
  <app-barranav titulo="Producto"></app-barranav>
</ion-header>

<ion-content [fullscreen]="true">
  <hr>
  <app-logo></app-logo>
  <hr>
  <ion-card>
    <img class="imagen" *ngIf="producto.imagen_producto" [src]="producto.imagen_producto" alt="Imagen del producto" />

    <ion-card-header>
      <ion-card-title>{{ producto.nombre_producto }}</ion-card-title>
      <ion-card-subtitle>Marca: {{ producto.marca }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <p>Talla: {{ producto.talla }}</p>
      <p>Precio: ${{ producto.precio }}</p>
      <p>Cantidad disponible: {{ producto.cantidad }}</p>
      
      <!-- Label para pedir la cantidad que el usuario quiere -->
      <ion-item>
        <ion-label position="floating">Cantidad a comprar</ion-label>
        <ion-input type="number" [(ngModel)]="cantidadSeleccionada"></ion-input>
      </ion-item>

      <!-- Mensaje de error si la cantidad seleccionada es inválida -->
      <p *ngIf="mensajeError" class="error">{{ mensajeError }}</p>
    </ion-card-content>

    <ion-button *ngIf="esAdmin" (click)="editarProducto()">Editar producto</ion-button>
    <ion-button *ngIf="esUser" (click)="comprarProducto()">Añadir al carrito</ion-button>
    <!-- Botón para escanear QR -->
    <ion-button expand="full" color="primary" (click)="escanearQR()">Escanear QR</ion-button>
  </ion-card>
</ion-content>

<ion-footer>
  <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
  <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>
  <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>
</ion-footer>