<ion-header [translucent]="true">
  <app-barranav titulo="Editar"></app-barranav>
</ion-header>

<ion-content [fullscreen]="true">
  
  <form (ngSubmit)="guardarCambios()">
    
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input [(ngModel)]="producto.nombre_producto" name="nombre"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorNombre">{{ errorNombre }}</ion-text>

    <ion-item>
      <ion-select aria-label="Marca" interface="action-sheet" placeholder="Marca" [(ngModel)]="producto.marca">
        <ion-select-option value="Puma">Puma</ion-select-option>
        <ion-select-option value="Adidas">Adidas</ion-select-option>
        <ion-select-option value="nike">nike</ion-select-option>
        <ion-select-option value="nike jordan">nike jordan</ion-select-option>
        <ion-select-option value="new balance">new balance</ion-select-option>
        <ion-select-option value="under armour">under armour</ion-select-option>
        <ion-select-option value="reebok">reebok</ion-select-option>
        <ion-select-option value="asics">asics</ion-select-option>
        <ion-select-option value="converse">converse</ion-select-option>
        <ion-select-option value="vans">vans</ion-select-option>
        <ion-select-option value="skechers">skechers</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-text color="danger" *ngIf="errorMarca">{{ errorMarca }}</ion-text>

    <ion-list class="sin-padding">
      <ion-item>
        <ion-select aria-label="Talla" interface="action-sheet" placeholder="Talla (US)" [(ngModel)]="producto.talla">
          <ion-select-option value="7.5">7.5 (25.5 cms)</ion-select-option>
          <ion-select-option value="8">8 (26 cms)</ion-select-option>
          <ion-select-option value="8.5">8.5 (26.5 cms)</ion-select-option>
          <ion-select-option value="9">9 (27 cms)</ion-select-option>
          <ion-select-option value="9.5">9.5 (27.5 cms)</ion-select-option>
          <ion-select-option value="10">10 (28 cms)</ion-select-option>
          <ion-select-option value="10.5">10.5 (28.5 cms)</ion-select-option>
          <ion-select-option value="11">11 (29 cms)</ion-select-option>
          <ion-select-option value="11.5">11.5 (29.5 cms)</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-text color="danger" *ngIf="errorTalla">{{ errorTalla }}</ion-text>

    <ion-item>
      <ion-label>Precio</ion-label>
      <ion-input type="number" [(ngModel)]="producto.precio" name="precio"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorPrecio">{{ errorPrecio }}</ion-text>

    <ion-item>
      <ion-label>Cantidad</ion-label>
      <ion-input type="number" [(ngModel)]="producto.cantidad" name="cantidad"></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="errorCantidad">{{ errorCantidad }}</ion-text>

    <!-- Puedes agregar un campo para seleccionar o cargar una nueva imagen -->

    <ion-button expand="block" type="submit">Guardar Cambios</ion-button>
  </form>
      
    



</ion-content>

<ion-footer>

      <!-- Mostrar para usuarios con rol 2 -->
      <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
      <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>

      <!-- Mostrar para otros roles o si el rol no se ha cargado -->
      <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>
  
</ion-footer>