<ion-header >
  <app-barranav titulo="Lista de pedidos"></app-barranav>
</ion-header>

<ion-content [fullscreen]="true">
  <hr>
  <app-logo></app-logo>
  
  <hr>
    
  <hr>

   <!-- Verifica que el array de compras tiene elementos -->
   <ion-card *ngIf="compras.length === 0">
    <ion-card-header>
      <ion-card-title>No hay compras registradas</ion-card-title>
    </ion-card-header>
  </ion-card>

  <!-- Mostrar las compras del usuario logueado -->
  <ion-card *ngFor="let compra of compras">
    <ion-card-header>
      <ion-card-title>Compra realizada por {{ compra.nombre_usuario }}</ion-card-title>
      <ion-card-subtitle>Fecha: {{ compra.fecha_compra }}</ion-card-subtitle>
      <ion-card-subtitle>Total: ${{ compra.precio_total }}</ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <!-- Mostrar los detalles de los productos -->
      <ion-item *ngFor="let detalle of compra.detalles">
        <ion-label>
          Producto: {{ detalle.nombre_producto }}<br>
          Cantidad: {{ detalle.cantidad }}<br>
          Talla: {{ detalle.talla }}<br>
          Precio unitario: ${{ detalle.precio_unitario }}
        </ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer>
  
      <!-- Mostrar para usuarios con rol 2 -->
      <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
      <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>

      <!-- Mostrar para otros roles o si el rol no se ha cargado -->
      <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>

</ion-footer>
