<ion-header>
  
  <app-barranav titulo="Carrito"></app-barranav>

</ion-header>

<ion-content [fullscreen]="true">

  <hr>
  
  <app-logo></app-logo>

  <hr>

  <br>

  <ion-list>
    <ion-item *ngFor="let producto of productosCarrito">
      <ion-thumbnail slot="start">
        <img [src]="producto.imagen_producto" alt="Imagen del producto"/>
      </ion-thumbnail>
      <ion-label>
        <h2>{{ producto.nombre_producto }}</h2>
        <p>Marca: {{ producto.marca }}</p>
        <p>Talla: {{ producto.talla }}</p>
        <p>Precio: ${{ producto.precio }}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<br>


<ion-footer>

      <!-- Mostrar para usuarios con rol 2 -->
      <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
      <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>

      <!-- Mostrar para otros roles o si el rol no se ha cargado -->
      <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>
  
</ion-footer>