<ion-menu contentId="menuFiltro">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu filtrar</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">

    <div>
      <p class="color-negro negrita">Filtrar por marca</p>

      <div class="contenedor-lista margin-auto">
        <ion-list class="sin-padding">
          <ion-item>
            <ion-select aria-label="Marca" interface="action-sheet" placeholder="Marca">
              <ion-select-option value="Adidas">Adidas</ion-select-option>
              <ion-select-option value="Puma">Puma</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
      </div>
    </div>

      <br>

      <p class="color-negro negrita">Filtrar por talla</p>

      <ion-list class="sin-padding">
        <ion-item>
          <ion-select aria-label="Talla" interface="action-sheet" placeholder="Talla (US)">
            <ion-select-option value="7.5">7.5 (25.5 cms)</ion-select-option>
            <ion-select-option value="8">8 (26 cms)</ion-select-option>
            <ion-select-option value="8.5">8.5 (26.5 cms)</ion-select-option>
            <ion-select-option value="9">9 (27 cms)</ion-select-option>
            <ion-select-option value="9.5">9.5 (27.5 cms)</ion-select-option>
            <ion-select-option value="10">10 (28 cms)</ion-select-option>
            <ion-select-option value="10.5">10.5 (28.5 cms)</ion-select-option>
            <ion-select-option value="11">11 (29 cms)</ion-select-option>
            <ion-select-option value="11.5">11.5 (29.5 cms)</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>

      <br>

      
    <ion-menu-toggle>
      <ion-button class="boton-vaciar">
        Limpiar
        <ion-icon slot="start" name="trash"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-button class="boton-filtro">
        Filtrar
        <ion-icon slot="start" name="filter"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
  </ion-content>
</ion-menu>

<ion-header id="menuFiltro">
  <app-barranav titulo="Zapatillas"></app-barranav>
</ion-header>

<ion-content [fullscreen]="true"class="ion-padding">
  <hr>
  
  <app-logo></app-logo>

  <hr>

  <app-barrabusqueda mensaje="Buscar zapatilla..."></app-barrabusqueda>

  <hr>
    
  <div class="contenedor-botones margin-auto">
    <ion-menu-toggle>
      <ion-button class="boton-filtrar">
        Filtrar por
        <ion-icon slot="end" name="menu"></ion-icon>
      </ion-button>
    </ion-menu-toggle>
    
  </div>
  <hr>

  <div class=" ancho margin-auto">
    <div class="contenedor-botones margin-auto contenedor-flex">
      <ion-button class="boton-agregar" (click)="irAgregarZapa()">
        Agregar zapatilla
        <ion-icon slot="start" name="add"></ion-icon>
      </ion-button>
    </div>
  </div>
  
  <hr>

  <ion-list>
    <ion-item *ngFor="let producto of productos">
      <ion-card>
        <!-- Muestra la imagen del producto si existe, de lo contrario, usa una imagen por defecto -->
        <img class="imagen" *ngIf="producto.imagen_producto" [src]="producto.imagen_producto" alt="Imagen del producto" (click)="irADetalleProducto(producto.id_producto)" />
      
        <ion-card-header>
          <!-- Título de la tarjeta con el nombre del producto -->
          <ion-card-title>{{ producto.nombre_producto }}</ion-card-title>
          <!-- Subtítulo de la tarjeta, por ejemplo, puedes usar la marca o cualquier otra propiedad -->
          <ion-card-subtitle>Marca: {{ producto.marca }}</ion-card-subtitle>
        </ion-card-header>
      
        <ion-card-content>
          <!-- Detalles adicionales del producto en el contenido de la tarjeta -->
          <p>Talla: {{ producto.talla }}</p>
          <p>Precio: ${{ producto.precio }}</p>
          <p>Cantidad: {{ producto.cantidad }}</p>
        </ion-card-content>
        <ion-button color="dark" (click)="eliminarProducto(producto.id_producto)" class="btn btn-danger">Eliminar</ion-button>  
      </ion-card>
    </ion-item>
  </ion-list>
    

  <hr>

</ion-content>

<ion-footer>
      <!-- Mostrar para usuarios con rol 2 -->
      <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
      <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>

      <!-- Mostrar para otros roles o si el rol no se ha cargado -->
      <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>
</ion-footer>
