<ion-header >
  <app-barranav titulo="Lista de pedidos"></app-barranav>
</ion-header>

<ion-content [fullscreen]="true">
  <hr>
  <app-logo></app-logo>
  
  <hr>

  <app-barrabusqueda mensaje="Buscar Usuario..."></app-barrabusqueda>
    
  <hr>

  <div class="contenedor-cards">
    <hr>
      <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
        <p class="letras-negrita tamano-letras">Usuario:</p>
        <p class="letras-negrita2 tamano-letras color-negro">&nbsp;MarkusAce</p>
      </div>
      <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
        <p class="letras-negrita tamano-letras">Fecha de compra:</p>
        <p class="letras-negrita2 tamano-letras color-negro">&nbsp;28/08/2024</p>
      </div>
      <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
        <p class="letras-negrita tamano-letras">Estado:</p>
        <p class="letras-negrita2 tamano-letras color-negro">&nbsp;Pendiente</p>
      </div>
      <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
        <div class="contenedor-letras-card margin-auto">
          <p class="letras-negrita2">RDB Game Hombre Celeste</p>
          <p class="letras-negrita2">Puma</p>
        </div>
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Talla:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;9 (27 cms)</p>
        </div>
        
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Cantidad:</p>
          <p class="tamano-letras letras-negrita2">&nbsp; 1 Unidad</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Dirección:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;Calle real 343</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Llega en:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;1-3 días habiles</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Total:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;$33.590</p>
        </div>
        
  </div>

  <hr>

  <div class="contenedor-cards">
    <hr>
      <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
        <p class="letras-negrita tamano-letras">Usuario:</p>
        <p class="letras-negrita2 tamano-letras color-negro">&nbsp;Javiersote</p>
      </div>
      <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
        <p class="letras-negrita tamano-letras">Fecha de compra:</p>
        <p class="letras-negrita2 tamano-letras color-negro">&nbsp;30/08/2024</p>
      </div>
      <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
        <p class="letras-negrita tamano-letras">Estado:</p>
        <p class="letras-negrita2 tamano-letras color-negro">&nbsp;Completado</p>
      </div>
      <div class="margin-auto centrar"><img src="assets/zapatilla.png" alt="" class="tamano-zapatilla"></div>
        <div class="contenedor-letras-card margin-auto">
          <p class="letras-negrita2">RDB Game Hombre Celeste</p>
          <p class="letras-negrita2">Puma</p>
        </div>
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Talla:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;8 (26 cms)</p>
        </div>
        
        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Cantidad:</p>
          <p class="tamano-letras letras-negrita2">&nbsp; 2 Unidad</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Dirección:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;Calle falsa 565</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Llega en:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;Entregado</p>
        </div>

        <div class="contenedor-flex contenedor-info margin-auto espacio-precio">
          <p class="letras-negrita tamano-letras">Total:</p>
          <p class="tamano-letras letras-negrita2">&nbsp;$67.180</p>
        </div>
        
    
  </div>

</ion-content>

<ion-footer>
  
      <!-- Mostrar para usuarios con rol 2 -->
      <app-barrafooter *ngIf="usuarioRol === 2"></app-barrafooter>
      <app-barrafooter *ngIf="usuarioRol === null"></app-barrafooter>

      <!-- Mostrar para otros roles o si el rol no se ha cargado -->
      <app-barrafooter2 *ngIf="usuarioRol === 1"></app-barrafooter2>

</ion-footer>
